<article class ="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row" >
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur voluptate, ipsum perferendis obcaecati aperiam quia, nostrum corrupti optio vel illum quis totam libero impedit blanditiis sit expedita, sunt vitae quasi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam illum perspiciatis placeat minima et sint tempore modi cumque rerum debitis libero optio error tenetur, nisi amet consectetur quidem. Repellendus, illo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate nam minus totam sequi, nesciunt quis eius perspiciatis unde id omnis provident fuga, debitis hic mollitia aspernatur reprehenderit facere. Adipisci!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corporis atque earum voluptatibus dolor ratione beatae officiis? Libero ducimus, omnis quae sed labore earum voluptas? Molestias error nobis nesciunt tempore!
        </p>
    </div>

    <img class="border-2 border-white-600 order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " src="FotoCasualEditada.jpg" alt="Foto fondo blanco Miguel">

</article>