---

import ExperienceItem from "./ExperienceItem.astro"


const EXPIRIENCIE = [
{
    title: 'Analista de desarrollo TID (Practicante)',
    company: 'Seguros de vida Suramericana S.A',
    date: '1 de febrero de 2024 - 31 de enero del 2025',
    description: 'Me desempeñe como Analista de Desarrollo Tecnológico, participé en el desarrollo y mantenimiento de aplicaciones web utilizando Node.js y Angular, realizando pruebas unitarias y resolución de bugs. Apliqué herramientas como SonarQube para análisis de calidad y Checkmarx One para detección de vulnerabilidades. Además, gestioné procesos de integración y despliegue continuo (CI/CD) con Azure DevOps y colaboré estrechamente con el equipo para garantizar la eficiencia y seguridad del software.',
    link:'#',
    work:'El último'
},
{
    title: 'Operativo GPS',
    company: 'Syspontec SAS',
    date: 'Released on January 13th, 2022',
    description: 'Participé en el levantamiento de información sobre los transformadores que abastecen la ciudad de Pereira y sus zonas circundantes, liderando el proceso de recopilación de datos, asegurando la precisión de la información y fomentando el trabajo en equipo con una comunicación efectiva',
}
]
---

<ol class="relative border-s border-gray-200 ml-5"> 
    {
       EXPIRIENCIE.map(experiencie =>(
        <li class="mb-10 ms-6">
            <ExperienceItem {...experiencie}/>
        </li>
       ))
    }
</ol>

