
<footer class=" py-20 rounded-lg shadow-sm dark:bg-gray-900 m-4">
        <span class="font-semibold block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://www.linkedin.com/in/miguel-angel-aguirre-florez-b970b1209/" target="_back" 
            rel="nooper" class="hover:underline">Miguel Angel A™</a></span>
    </div>
</footer>
    
    

