---
import Navegacion from './navigation.astro';
import Hamburger from './Hamburger.astro';
---


<header>
    <nav>
        <Hamburger></Hamburger>
        <Navegacion></Navegacion>
    </nav>
</header>
