---
import SocialPill from './SocialPill.astro';
import Experience from './Experience.astro';
import Projects from './Projects.astro';
import AboutMe from './AboutMe.astro';


import SectionContainer from './SectionContainer.astro';

import Email from '../icons/Email.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import BriefCase from '../icons/BriefCase.astro';
import CodeCircle from '../icons/CodeCircle.astro';
import User from '../icons/User.astro';
---

<div id="container">
	<main class="px-4">
		<SectionContainer class = "section py-16 md:py-20 scroll-m-20 container lg:max-w-4xl md:max-w-2xl">
			<div class="max-w-xl">
				<div class="flex gap-4 mb-4">
					<img 
						class="rounded-full size-25 mb-1 p-1 ring-2 ring-gray-300 dark:ring-gray-500"
						src = "pp.jpg"
						alt = "miguel photo">
					<a 
						href="https://www.linkedin.com/in/miguel-angel-aguirre-florez-b970b1209/" 
						target="_back" 
						rel="nooper"
						class="flex items-center transition md:justify-center md:hover:scale-105">
						<div class="flex items-center ">
							<span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
								<span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
								<div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm rounded-full cursor-pointer bg-gray-800 text-white/80 backdrop-blur-3xl whitespace-nowrap"> Disponible para trabajar </div>
							</span>
						</div>
					</a>
				</div>
			</div>
		    
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola, soy Miguel Angel 
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"> 
				<span class="text-[#FEF08A]">Ingeniero Electrónico</span> de Pereira, Colombia. 
				Tengo experiencia en<span class="text-[#FEF08A]"> desarrollo de software, con enfoque 
					en software embebido y aseguramiento de calidad </span>. Me apasiona crear soluciones eficientes y seguras. 
			</h2>
		<nav class="flex gap-5 mt-4 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/miguel-angel-aguirre-florez-b970b1209/">
				<LinkedIn class ="size-4 md:size-6"></LinkedIn>
				LinkedIn
			</SocialPill>
			<!-- <SocialPill href="https://www.linkedin.com/in/miguel-angel-aguirre-florez-b970b1209/">
				<GitHub class ="size-4 md:size-6"></GitHub>
				GitHub
			</SocialPill> -->
			<SocialPill href="mailto:miguel.aguirre12@utp.edu.co">
				<Email class ="size-4 md:size-6"></Email>
				Contactame
			</SocialPill>
		</nav>
		</SectionContainer>

		<SectionContainer id ="experiencia">
			<h2 class="text-4xl font-semibold mb-8 flex gap-x-4 items-center">
				<BriefCase class = "size-10"></BriefCase>
				Expriencia Laboral</h2>
			<Experience></Experience>
		</SectionContainer>

		<SectionContainer id = "proyectos" class="mt-30">
			<h2 class="text-4xl font-semibold mb-8 flex gap-x-4 items-center">
				<CodeCircle class = "size-10"></CodeCircle>
				Proyectos</h2>
			<Projects></Projects>
		</SectionContainer>

		<SectionContainer id = "sobre-mi" class=" mt-30 section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
			<h2 class="text-4xl font-semibold mb-8 flex gap-x-4 items-center">
				<User class = "size-10"></User>
				Sobre Mi</h2>
			<AboutMe></AboutMe>
		</SectionContainer>
	</main>
</div>


